@charset "utf-8";

.img{
 background: url(images/sea2.jpg);
 height: 500px;
 background-repeat: no-repeat;
 background-size: cover;
 margin-bottom: 40px;
}
@media (max-width: 768px) {
  .img{
    height:250p;
  }
}
  

.subject{
    font-size: medium;
    color:gray;
    text-align:center; 
    magin:100px;
}
.subject2{
    font-size: medium;
    color:gray;
    text-align:center; 
    margin-top:20px;
    margin-bottom:20px;
}
.maintitle{
    font-size:32px;
    color:gray;
    text-align:center;
    margin-bottom:40px;
}
.famous{
    font-size:28px;
    color:gray;
    text-align: center;
    margin-bottom:20px;
}
.cow{
    font-size: larger;
    color:gray;
    text-align:center;
}
.sentence{
    font-size: small;
    color:gray;
}
.athletic{
    font-size: larger;
    color:gray;
    text-align:center;
}
.diving{
    font-size: larger;
    color: gray;
    text-align:center;
}
.box {
    flex: 1;
    margin: 5px;
    background-color: #fcf5d2;
}
#contents{
    display: flex;
}

@media (max-width: 768px) {
  #contents {
    flex-direction: column;
  }
}


.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.common {
  font-size: 20px;
  border: 2px solid none;
  padding: 10px;
  background-color:#fcf5d2;
}

.boxcommon{
  font-size: 20px;
  border: 10px solid none;
  padding: 10px;
  background-color: #c0e3f5;

}

.contact{
   background-color: #cfe6c3; 
   height:70px;
   margin-top:30px;
}

.contactimformation{
    text-align: center;
    color:gray;
    font-size: small;
    padding:10px;
}
.wrapper {
  display: table;
  border-spacing: 200px 0;
  border-collapse: separate;
  text-align-last: center;
}
.wrapper .box {
  display: table-cell;
  width: 250px;
  height: 3px;
  vertical-align: middle;
  text-align: center;
 
}
.radius {
  background-color:#fcf5d2;
  border-radius:10px;
}

.wrapper{
  margin: 0 auto;
}
